@model IEnumerable<GameStore.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layoutAdmin.cshtml";
}

<h2>DANH SÁCH USER</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhanQuyen.roleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.roleID == 2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.matkhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanQuyen.roleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.username }) |
                    @Html.ActionLink("Details", "Details", new { id = item.username }) 
                    
                </td>
            </tr>
        }
    else { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanQuyen.roleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.username }) |
                @Html.ActionLink("Details", "Details", new { id = item.username }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.username })
            </td>
        </tr>
        }
    }

</table>

@Scripts.Render("~/bundles/admin/jquery")

<script>
        @*$('.sp ul').addClass('show');*@
      $('.d-user').addClass('active');
</script>

